.mydiv{
    color: green;
    border-style: solid;
    text-align: center;
}

#myid{
    color: red;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    width: 20%;
  }